section.preview-section
  .wrapper
    .preview-section__container
      img.preview-section__icon-1(src="images/preview-section-icon-1.png" loading="lazy" width="581" height="632" alt="icon")
      img.preview-section__icon-2(src="images/preview-section-icon-2.png" loading="lazy" width="494" height="647" alt="icon")
      img.preview-section__icon-3(src="images/preview-section-icon-3.png" loading="lazy" width="410" height="501" alt="icon")
      h2.preview-section__title.font-w-bold.font-s-42.text-up
        | Так будет выглядеть ваш 
        span.color-grey первый 
        br.no-br
        span.color-grey магазин 
        | открытый 
        br.no-br
        | по франшизе 
        span.color-grey «BULVAR»
      .swiper-bullet
        .preview-section__cards.swiper-wrapper
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-1.jpg" loading="lazy" width="760" height="420" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-2.jpg" loading="lazy" width="760" height="420" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-3.jpg" loading="lazy" width="760" height="420" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-4.jpg" loading="lazy" width="760" height="420" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-5.jpg" loading="lazy" width="760" height="420" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-6.jpg" loading="lazy" width="760" height="420" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-7.jpg" loading="lazy" width="760" height="420" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-8.jpg" loading="lazy" width="760" height="420" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-9.jpg" loading="lazy" width="760" height="420" alt="image")
        .bullet-pagination
