section.start-section
  .wrapper
    .start-section__container
      img.start-section__icon-1(src="images/start-section-icon-1.png" loading="lazy" width="524" height="411" alt="icon")
      img.start-section__icon-2(src="images/start-section-icon-2.png" loading="lazy" width="372" height="423" alt="icon")
      img.start-section__icon-3(src="images/start-section-icon-3.png" loading="lazy" width="248" height="230" alt="icon")
      h2.start-section__title.font-w-bold.font-s-42.text-up
        | Ознакомьтесь со 
        span.color-grey схемой
        br
        span.color-grey открытия магазина
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-icon
            .font-s-24 Заключение договора франшизы
          .start-section__card.swiper-slide
            .start-section__card-icon
            .font-s-24 Поиск помещения и заключение договора аренды
          .start-section__card.swiper-slide
            .start-section__card-icon
            .font-s-24 Ремонт и подготовка помещения
          .start-section__card.swiper-slide
            .start-section__card-icon
            .font-s-24 Поиск персонала
          .start-section__card.swiper-slide
            .start-section__card-icon
            .font-s-24 Обучение персонала
          .start-section__card.swiper-slide
            .start-section__card-icon
            .font-s-24 Закупка товара
          .start-section__card.swiper-slide
            .start-section__card-icon
            .font-s-24 Официальное открытие
          .start-section__card.swiper-slide
            .start-section__card-icon
            .font-s-24 Рост и масштабирование
        .bullet-pagination
      .start-section__bottom
        img.start-section__bottom-img(src="images/start-section-bottom-img.png" loading="lazy" width="961" height="645" alt="image")
        .font-w-bold.font-s-30-b.text-up
          | Работаем строго по 
          br.no-br
          | договору, в котором 
          br.no-br
          | прописаны наши 
          br.no-br
          span.color-grey обязанности 
          | и все 
          br.no-br
          span.color-grey условия сотрудничества
        button.btn.start-section__btn(data-remodal-target="modal-form-agreement") Скачать пример <br> договора
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="1226" height="1004" alt="image")
